   <table>
  <thead>
   <tr>
     <th></th>
     <th></th>
  </tr>
   </thead>
    <tbody>
     <% book.book_comments.each do |book_comment| %>
      <tr>
       <th>
        <%= image_tag book_comment.user.get_profile_image(100,100) %>
        <P><%= link_to book_comment.user.name,user_path(book_comment.user.id)  %></p>
       </th>
       <th>
         <%= book_comment.comment %>
          <% if book_comment.user == current_user %>
          <td>
           <%= link_to "destroy", book_book_comment_path(book_comment.book, book_comment), class: "btn btn-danger", remote: true, method: :delete %>
           </td>
          <% end %>
       </th>
         <% end %>
     </tr>
   </tbody>
 </table>
    <div class="mt-1">
        <%= form_with model: [book, book_comment],local: false do |f| %>
      <%= f.text_area :comment, rows: '6' %>
        <%= f.submit "送信" %>
    <% end %>
 </div>