<main>
 <div class="container">
  <div class="row">
   <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2 class="p-2">User info</h2>
    <%= form_with model: @user do |f| %>
    <div class="form_group mb-3">
     <h5>Name</h5>
     <%=f.text_field :name, autfocus: true, id: "inputName"%>
    </div>
     <div class="form_group mb-3">
      <h5>Image</h5>
      <%= f.file_field :profile_image, placeholder: "inputImage", accept: "image/*" %> 
     </div>
      <div class="form_group mb-3">
       <h5>Introduction</h5>
       <%= f.text_area :introduction %>
      </div>
      <div class="form_button">
      <%= f.submit "Update User" %>
       <% end %>
       </div>
    </div>
  </div>
 </div>
 </main>


 