<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user)%></p>
</div>

<% @books.each do |book| %>
<div>
 <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>ショップ名：<%= book.book_name %></p>
  <p>説明：<%= book.caption %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
</div>
<% end %>