<main>
 <div class="container">
  <div class="row">
   <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2 class="p-2">Editing Book</h2>
    <%= form_with model: @book ,url: book_path(@book.id), method: :patch  do |f| %>
    <div class="form_group mb-3">
     <h5>Title</h5>
     <%=f.text_field :title %>
    </div>
      <div class="form_group mb-3">
       <h5>Opinion</h5>
       <%= f.text_area :body %>
      </div>
      <div class="form_button">
      <%= f.submit "Update Book" %>
       <% end %>
       </div>
       <%=link_to "show",book_path(@book)%>|
       <%=link_to "back","/books" %>
    </div>
  </div>
 </div>
 </main>